.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2147483647; /* Highest z-index */
}

.fullscreen-overlay-content {
  text-align: center;
  padding: 20px;
}

.fullscreen-overlay-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
